* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #707070;
  /*background: #00f0cc;*/
  background: white;
  
  
  
}
body h1,
h2,
h3,
h4 {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
}

input,
select,
textarea,
button {
  font-family: inherit;
  color: inherit;
}


.calidad {
    background-color: #138d6a;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: none;
    text-align: left;
    outline: none !important;
    font-size: 20px;
    transition: 0.4s;
    font-family: "Comfortaa" !important;
    cursor: pointer;
    text-transform: uppercase;
}

.calidad:hover {
    background-color: #414141;
}

.calidad {
    background-color: #138d6a;
}

.calidad:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    outline: none;
}

.item-grafica {
    background-color: #138d6a !important;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: none;
    text-align: left;
    outline: none !important;
    font-size: 20px;
    transition: 0.4s;
    font-family: "Comfortaa" !important;
    cursor: pointer;
    text-transform: uppercase;
}

.item-grafica:hover {
    background-color: #414141;
}

.active {
    background-color: #414141;
}

.item-grafica:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    outline: none;
}

.active:after {
    content: "\2212";
}

.caja-parrafo {
    background-color: #17c090;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Comfortaa";
}


.contenedor-total {
  background: white;
  width: auto;
    height: 2000px;

}

.contenedor {
  padding: 60px 40px;
  width: 100%;
  background-color: white;
  height: 100%;
  z-index: 5000;
  margin-bottom: 500px;
}

.encabezado span {
  margin-bottom: 1px;
}
.seccion {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.titulo-seccion {
  color: #18c5aa;
  font-size: 0.8rem;
  margin-bottom: 0px;
}

.item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}

.item:hover {
  background-color: #ebfffc;
}

.info-extra {
  font-size: 0.65rem;
  color: #9e9d9d;
}

.item-faq,
.item-notificaciones {
  margin-top: 4px;
}
.item-ancho {
  padding-top: 3px;
}

@media (min-width: 768px) {
  .contenedor-total {
    height: 100vh;
  }
  .contenedor {
    padding: 60px 40px;
    height: 100%;
    width: 60%;
    margin: 0 auto;
    background-color: white;
  }
}
